<html>
<head>
    <style type="text/css">
        #caixa {
            background-color: #33ccff;
            width: 300px;
            height: 300px;
            margin-top: 100px;
            border-radius: 15px;
        }

        #logo {
            padding: 20px 0px 0px 0px;
        }

        #codigo {
            border-radius: 5px;
            background-color: #FFFFFF;
            width: 250px;
            padding: 20px 0px 0px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <center>
            <div id="caixa">
                <img id="logo" src="~/Images/logo.png" />
                <p><strong>API EM DUPLA</strong></p>
                <p>Usando GIT e Visual Studio</p>
                <p>C# - ASP .NET MVC com Razor</p>
            </div>
        </center>
    </div>
</body>
</html>