<html>
<head>
    <style type="text/css">
        #caixa {
            background-color: #808080;
            width: 300px;
            height: 300px;
            margin-top: 100px;
            border-radius: 15px;
        }

        #logo {
            padding: 20px 0px 0px 0px;
            box-shadow: 10px 10px 5px #888888
        }

        #fraseinicial {
            padding: 20px 0px 0px 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <center>
            <div id="caixa">
                <img id="logo" src="~/Images/logo.png" />
                <p id="fraseinicial"><strong>API EM DUPL<span style="color: red">A</span></strong></p>
                <p>Usando GIT e Visual Studi<span style="color: red">o</span></p>
                <p>C# - ASP .NET MVC com Razo<span style="color: red">r</span></p>
            </div>
        </center>
    </div>
</body>
</html>